[Unit]
Description=Code Server Service
StartLimitIntervalSec=0
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/usr/bin/code-server

[Install]
WantedBy=default.target
